$transparent: rgba(255, 255, 255, 0.0);
$scrollbar-outline: #C0C7D4;
$gallery-font-regular: "Open Sans", sans-serif;
$gallery-font-bold: "Segoe UI",Roboto,Ubuntu,sans-serif;
$gallery-font-size: 72px;
$gallery-search-box-font-size: 20px;
$gallery-button-font-size: 20px;
$gallery-button-font-size-s: 16px;
$gallery-button-font-size-xs: 12px;