@import './colorpalette';

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

  @mixin scrollbarOnHover($scrollSize: 5px) {
    height: 100%;
  
    @media (hover: hover) {
      @include scrollbars($scrollSize, slategray);
      overflow-y: hidden;
    }
    @media (hover: none) {
      @include scrollbars($scrollSize, $transparent);
      @include overflowYOverlay;
    }
  
    &:hover {
      @include overflowYOverlay;
    }
  }
  
  @mixin overflowYOverlay {
    @supports (overflow-y: overlay) {
      overflow-y: overlay;
    }
    @supports not (overflow-y: overlay) {
      overflow-y: scroll;
    }
  }