@import "./styleSetup/colorpalette";
@import "./styleSetup/mixins";

html,
body {
  background-color: #f1f4f8;
  padding: 20px;
  margin: 0;
}

.image-details-card {
  display: flex;
  justify-content: center;
  align-items: center;

  .MuiCardActions-root {
    margin: 90px 0px 0px -15px;

    @media (max-width: 1440px) {
      margin: 100px 0px 0px -15px;
    }

    @media (max-width: 1024px) {
      margin: 95px 0px 0px -15px;
    }

    @media (max-width: 768px) {
      margin: 40px 0px 0px -15px;
    }

    @media (max-width: 425px) {
      margin: 70px 0px 0px -15px;
    }
  }
}

.gallery-container {
  width: 100%;
  height: 85vh;

  .gallery-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .MuiInputLabel-root {
      font-family: $gallery-font-regular !important;
    }

    .search-box-item {
      margin: 10px 10px 0 10px;
    }

    .headline-item {
      margin: 10px 15px 10px;
      flex: 2 1 auto;
    }
  }

  .MuiImageList-root {
    @include scrollbarOnHover();
  }

  .MuiButton-root {
    font-family: $gallery-font-bold !important;
    font-size: $gallery-button-font-size !important;
    @media (max-width: 768px) {
      font-size: $gallery-button-font-size-s !important;
    }
    @media (max-width: 425px) {
      font-size: $gallery-button-font-size-xs !important;
    }
  }

  #img-elm {
    cursor: pointer;
    z-index: 1;
  }

  #img-elm + #title-bar-elm:hover,
  #img-elm:hover + #title-bar-elm {
    opacity: 1;
  }

  #title-bar-elm {
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    padding-top: 100px;
    cursor: pointer;
    z-index: -2;
  }

  .title-bar- {
    &s {
      top: 55px !important;
    }

    &md {
      top: 130px !important;
    }
  }
}
