@import './styleSetup/colorpalette';
@import './styleSetup/mixins';

html,body {
  background-color: #f1f4f8;
  padding: 20px;
  margin: 0;
}

.image-details-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;

  .MuiCardActions-root {
    margin: 10px 0px 0px -15px;
  }
}

.gallery-container {
  width: 100%;
  height: 85vh;

  .gallery-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .MuiTypography-root {
      font-size: $gallery-font-size !important;
      font-family: $gallery-font-bold !important;
    }
    
    .MuiAutocomplete-root {
      width: 300px;
    }
    
    .MuiInputLabel-root {
      font-family: $gallery-font-regular !important;
      font-size: $gallery-search-box-font-size !important;
    }

    .search-box-item {
      margin: 10px 10px 0 0;
    }
  
    .headline-item {
      margin: 10px 15px 10px;
      flex: 2 1 auto;
    }
  }

  .MuiImageList-root {
    @include scrollbarOnHover();
  }

  #img-elm {
    cursor: pointer;
  }
  
  #img-elm:hover + #title-bar-elm {
    opacity: 1.0;
  }
    
  #title-bar-elm {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    padding-top: 100px;
  }

  .title-bar-{
    &s {
      top: 55px !important;
    }

    &md {
      top: 130px !important;
    }
  }
}
